<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".NotBadApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_common_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_common_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NotBadVideo"
        tools:targetApi="31">
        <activity
            android:name=".HostRegisterActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".HotFixPluginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.notbad.hotfix.plugin.container" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".plugin.SecondActivity"
            android:exported="false"></activity>
    </application>

</manifest>